{% extends 'base.html' %}

{% block title %}Talks at {{ event.name }}{% endblock %}

{% block main %}

    <h3>These are the talks you've currently requested at {{ event.name }}.
    Use the arrows to prioritize your requests.</h3>

    <a href="{% url 'talk_add' event.slug %}" class="button">Request a Talk</a>

    <ul class="talklist">
    {% for talk in talk_requests %}
        <li>
            <div class="arrows">
                <form method="post" action="{% url 'talk_reprioritize' event.slug talk.id 'up' %}">
                {% csrf_token %}
                <button type="submit"><i class="up fas fa-caret-up fa-2x"></i></button>
                </form>
                <form method="post" action="{% url 'talk_reprioritize' event.slug talk.id 'down' %}">
                {% csrf_token %}
                <button type="submit"><i class="down fas fa-caret-down fa-2x"></i></button>
                </form>
            </div>
            <div class="status status-pending"></div>
            <div class="contents">
                <h3>{{ talk.name }}</h3>
                <p>{{ talk.talk_location.name }}</p>
                <div class="datetime">
                    <p class="date">{{ talk.time.lower | date:'F d'}}</p>
                    <p class="time">{{ talk.time.lower | date:'g:iA' | lower }} -
                        {{ talk.time.upper | date:'g:iA' | lower }}</p>
                </div>
            </div>
            <div class="actions">
                <form method="post" action="{% url 'talk_delete' event.slug talk.id %}">
                {% csrf_token %}
                <button type="submit"><i class="fas fa-trash fa-lg"></i></button>
                </form>
            </div>
        </li>
    {% endfor %}
    </ul>

{% endblock %}